<% set_meta_tags :site => 'My Dentist and Associates', :title => 'Home' %>
<% set_meta_tags :description => "Welcome to My Dentist And Associates in Chicago, IL. We offer cosmetic dental treatment, long-term oral care plans, and comprehensive full treatments for any of your oral needs." %>
<section class="features">
        <div class="row text center book">

            <div class="column_12">
                <h1 class="color default padding-bottom"></h1>
                    
                    <h2 id="welcome-message" class="hide-phone">Welcome to My Dentists &amp; Associates</h2>
                    <p id="welcome-message" class="show-phone" style="font-size:40px;">Welcome to My Dentists &amp; Associates</p>
                    <strong class="large">Chicago, IL</strong><br />
                    <strong class="large">Personalized Dentistry for You and Your Family.</strong> 
                    
            </div>
        </div>

        <script type="text/javascript">
                         $.backstretch([
                            "<%= asset_path 'black-family.jpg'%>",
                            "<%= asset_path 'happy-black-person.jpg'%>",
                            "<%= asset_path 'happy-black-family-2.jpg'%>"    
                          ], {duration: 4000, fade: 2000});
                    </script>
<br>
        <div class="text center bck theme margin-top padding">
        <div class="row padding-bottom padding-top">
        	 <div class="column_4">
            	<%= link_to cosmetic_dentistry_path do %>
	                <h1 class="icon-smile"></h1>
	                <h4 class="text color black">Cosmetic Dentistry</h4>
                <% end %>
                <br>
		                <p class="text normal">The development of advanced cosmetic dentistry techniques has enabled us to work wonders for patients’ smiles by treating common aesthetic issues such as misaligned, discolored, crooked, or broken teeth.</p>
            </div>

            <div class="column_4">
                <%= link_to oral_care_path do %>
                	<h1 class="icon-plus-sign-alt"></h1>
                	<h4 class="text color black">Long-term Oral Care</h4>
            	<% end %>
            	<br>
		                <p class="text normal">Good oral health involves more than just brushing. My Dentists offers several ways to put you on the right track to a healthy smile for the rest of your life.</p>
            </div>

            <div class="column_4">
            	<%= link_to treatment_plans_path do %>
	                <h1 class="icon-tablet"></h1>
	                <h4 class="text color black">Comprehensive Full Treatment</h4>
                <% end %>
                <br>
                    <p class="text normal"> My Dentists also offers a full list of treatment options including fillings, crowns, bridges, implant restorations, dentures, limited endodontic procedures (root canals), periodontics (treatment of gum disease), and oral pathology consultations.</p>
            </div>
        </div>
        </div>
    </section>


    <section class="padding bck dark">
        <div class="row text center book margin-bottom">
            <div class="column_10 offset_1">
                <h1 class="color theme">Located at:<br /> 2555 W. 79th Street <br /> Chicago, IL</h1>
                <h3>Get in contact with us <span class="text normal color white">right now. </span>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="offset_2 column_4">
                <a href="tel:7734341515" class="button large anchor" id="telephone-button"><span class="icon phone"></span>Give us a call at <br> (773) 434-1515</a>
            </div>


            <div class="column_4">
                <a href="<%= contact_path %>" class="button large anchor secondary" id="inbox-button"><span class="icon envelope"></span>Send us an <br> inbox message.</a>
            </div>
        </div>
        
    </section>
    <section class="padding bck light">
        <div class="row text center book margin-bottom">
            <h2 class="white" style="font-weight:bold;">Hours of Operation</h2>
            <h3 class="white">Monday: 9am - 6pm</h3>
            <h3 class="white">Tuesday: Closed</h3>
            <h3 class="white">Wednesday: 9am - 6pm</h3>
            <h3 class="white">Thursday: Closed</h3>
            <h3 class="white">Friday: 9am - 6pm</h3>
            <h3 class="white">1st and 3rd Saturdays: 8am - 12:30pm</h3>
        </div>

        
    </section>

    



