

<!-- <div class="carousel" data-transition="slide"> -->
    <!-- <div> -->
       <!-- <img src="http://static.flickr.com/66/199481236_dc98b5abb3_s.jpg" width="75" height="75" alt="" /> -->
    <!-- </div> -->
    <!-- <div> -->
        <!-- <img src="http://static.flickr.com/70/229228324_08223b70fa_s.jpg" width="75" height="75" alt="" /> -->
    <!-- </div> -->
<!-- </div> -->


<section class="padding bck theme features">
        <div class="row text center book">
            <div class="column_12">
                <h1 class="color default">Welcome to Great Heights Family Medicine</h1>
                
                    <div id="myCarousel" class="carousel slide">
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <div class="active item"><%= image_tag("image-test-1.jpg") %></div>
                        <div class="item"><%= image_tag("image-test-2.jpg") %></div>
                        <div class="item"><%= image_tag("image-test-3.jpg") %></div>
                      </div>
                      <!-- Carousel nav -->
                      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                    <strong>Not Lorem ipsum dolor </strong> lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum nisl sit amet ante placerat adipiscing. 
                
            </div>
        </div>
<br>
        <div class="row text center normal margin-top">
        	 <div class="column_4">
            	<%= link_to  weight_loss_path do %>
	                <h1 class="icon food"></h1>
	                <h4 class="text color white">Weight Loss</h4>
                <% end %>
                <br>
		                <p class="text normal">Ultrices vitae semper at, bibendum non ipsum. Quisque neque enim, vestibulum id convallis ac, semper blandit neque.</p>
            </div>

            <div class="column_4">
                <%= link_to  drug_treatment_path do %>
                	<h1 class="icon group"></h1>
                	<h4 class="text color white">Drug Treatment</h4>
            	<% end %>
            	<br>
		                <p class="text normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum nisl sit amet ante placerat adipiscing.</p>
            </div>

            <div class="column_4">
            	<%= link_to  immigration_physicals_path do %>
	                <h1 class="icon flag"></h1>
	                <h4 class="text color white">Immigration Physicials</h4>
                <% end %>
                <br>
		                <p class="text normal">Vivamus tristique pretium diam, non placerat urna gravida in. Quisque quis tellus aliquet, semper metus in, eleifend nibh. </p>
            </div>
        </div>
    </section>


    <section class="padding bck dark">
        <div class="row text center book margin-bottom">
            <div class="column_10 offset_1">
                <h1 class="color theme">Located in Calumet City & Ottawa, IL</h1>
                <h3> Yorem ipsum dolor sit amet  <span class="text normal color white">placerat adipiscing. </span>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="offset_2 column_4">
                <a href="tel:5551234567" class="button large anchor" id="telephone-button"><span class="icon phone"></span>Give us a call at <br> (708) 862-8156 </a>
            </div>


            <div class="column_4">
                <a href="<%= contact_path %>" class="button large anchor secondary" id="inbox-button"><span class="icon envelope"></span>Send us an <br> inbox message</a>
            </div>
        </div>
    </section>



