<section class="bck light">
		<div class="row text center">
			<nav data-tuktuk="menu" class="column_12 padding text bold">
			<%= link_to 'Home', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Cosmetic Dentistry', cosmetic_dentistry_path %>
      <%= link_to 'Oral Care', oral_care_path %>
      <%= link_to 'Treatment Plans', treatment_plans_path %>
      <%= link_to 'Contact', contact_path %>
       </nav>
     </div>
   </section>