<section class="bck light">
		<div class="row text center">
			<nav data-tuktuk="menu" class="column_12 padding text bold">
			<%= link_to_unless_current 'Home', root_path, :class => "column_1" %>
      <%= link_to_unless_current 'About', about_path, :class => "column_1" %>
      <%= link_to_unless_current 'Weight Loss', weight_loss_path, :class => "column_1" %>
      <%= link_to_unless_current 'Drug Treatment', drug_treatment_path, :class => "column_1" %>
      <%= link_to_unless_current 'Immigration Physicals', immigration_physicals_path, :class => "column_1" %>
      <%= link_to_unless_current 'Contact', contact_path, :class => "column_1" %>
       </nav>
     </div>
   </section>