<section class="bck light">
		<div class="row text center">
			<nav data-tuktuk="menu" class="column_12 padding text bold">
			<%= link_to_unless_current 'Home', root_path %>
      <%= link_to_unless_current 'About', website_pages_about_path %>
      <%= link_to_unless_current 'Drug Treatment', website_pages_drug_treatment_path %>
      <%= link_to_unless_current 'Weight Loss', website_pages_weight_loss_path %>
      <%= link_to_unless_current 'Immigration Physicals', website_pages_immigration_physicals_path %>
      <%= link_to_unless_current 'Contact', website_pages_contact_path %>
       </nav>
     </div>
   </section>