<!DOCTYPE html>
<html>
<head>
  <title>My Dentists &amp; Associates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
  <% set_meta_tags :keywords => %w[Dentist Chicago Oral Surgery Roslyn Stratton Kenneth Brooks Celia Mimms Elvina McHenry DDS RDH South Side] %>
  <%= csrf_meta_tags %>
</head>

<body>


<div id="head">
<%= render "layouts/header" %>
<% if flash[:notice] %>
  <p id="flash_notice" class="messages notice"><%= flash[:notice] %></p>
  <script type="text/javascript">
    $(function() {
      $('p#flash_notice').delay(5000).fadeOut('slow');
    });
  </script>
<% end %>
<% if flash[:alert] %>
  <p id="flash_errors" class="messages alert"><%= flash[:alert] || flash[:alert] %></p>
  <script type="text/javascript">
    $(function() {
      $('p#flash_errors').delay(5000).fadeOut('slow');
    });
  </script>
<% end %>
<% flash[:alert] = flash[:alert] = flash[:alert] = nil %>
<%#= render 'layouts/social_deals' %>
<%= render 'layouts/open_closed_status' %>

</div>

<%= yield %>




</body>
<%= render "layouts/footer" %>
</html>

<script>
    $(document).ready(function () {
        $('div#head').headshrinker({"shrinkMenu": false, "shrinkBy" : 8});
    });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45583494-1', 'mydentistsandassoc.com');
  ga('send', 'pageview');

</script>
